################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SSH/.vs/SSH
/SSH/SSH.Web/bin/Debug/netcoreapp2.2
/SSH/SSH.Web/obj
